@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Prompt:wght@300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Prompt", sans-serif;
    color: #000;
    /* font-size: 15px; */
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

header {
    /* border: solid 1px rgba(255, 0, 0, 0.171); */
    height: 90px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fff;
    width: 100%;
}

header,
.main-nav,
.main-nav li:first-child {
    display: flex;
}

header,
.main-nav,
.main-nav-link li,
.main-nav-link {
    max-height: 90px;
}

.logo {
    padding: 0 3.5em;
}

.logo img {
    width: 92px;
}

.main-nav {
    align-items: center;
    list-style: none;
    width: 100%;
    height: 100%;
}

.main-nav-link {
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 3em;
    text-decoration: none;
    border-bottom: solid 0.3em red;
}

.main-nav-link:hover {
    color: red;
}

.main-nav li:first-child {
    height: 100%;
    margin-top: 0.5em;
    justify-content: center;
    align-items: center;
}

.main-nav-link:hover,
.main-nav-link:focus,
.control-menu .material-icons:hover,
.control-menu .material-icons:focus {
    color: red;
}

.has-dropdown-menu {
    position: relative;
}

.play-icn {
    transform-origin: center;
    top: 3px;
    width: 15px;
    color: red;
    font-size: 0.75rem;
    transition: ease 0.1s;
}

.has-dropdown-menu:hover > .play-icn {
    transform: rotate(90deg);
}

.control-menu {
    width: 44%;
    text-align: right;
    padding-right: 1.75em;
}

.control-menu .material-icons {
    margin-left: 1em;
    cursor: pointer;
}

.control-menu .material-icons:first-child {
    color: #4a4a4a;
}
/* ==================== */
/* Hero */
/* ==================== */

.section-1600 {
    max-width: 1600px;
    margin: 0 auto;
}

.hero-content {
    margin-top: 90px;
    position: relative;
}

#videoBg {
    position: relative;
}

.hero-content video {
    width: 100%;
}

.company-message {
    position: absolute;
    top: 9em;
    left: 4em;
    padding-right: 3em;
    max-width: 550px;
    color: #fff;
}

.company-message h1 {
    line-height: 1.1em;
    font-size: 71px;
    margin-bottom: 15px;
}

.company-message p {
    line-height: 21px;
    font-size: 1.1em;
}

.learn-more-btn {
    padding: 9px 28px;
    margin-top: 1.5em;
    max-width: 175px;
    min-width: 150px;
    height: 40px;
    font-size: 1em;
    text-transform: uppercase;
    background: #e3212b;
    border-radius: 25px;
    color: #fff;
    border: none;
}

.hero-small-text {
    margin: 2.5em auto;
    display: block;
    width: 650px;
    text-align: center;
    font-size: 12px;
    color: #898989;
}

.underline-text {
    text-decoration: underline;
    color: #898989;
}

.hero-divider {
    width: 80%;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 3em;
    opacity: 1;
    background: rgba(205, 205, 205);
}

/* ==================== */
/* Products */
/* ==================== */

.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}

.products-title {
    margin-bottom: 0.75em;
}

.products {
    width: 100%;
    max-width: 1065px;
    display: flex;
}

.product {
    width: 100%;
}

.product-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.product-img-container {
    height: 180px;
}

.product img {
    width: 103px;
}

.product-name {
    text-align: center;
    margin: 1.75em 0;
}

.product-btn {
    background: #000;
    color: #fff;
    border-radius: 30px;
    padding: 0.3em 3em;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
}

.wave-lines {
    height: 150px;
    background-image: url("../images/wave-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.wave-lines-bottom {
    transform: rotateX(180deg);
}

/* ==================== */
/* What's new */
/* ==================== */

.whats-new-wrapper {
    max-width: 100%;
    background: #f5f5f5;
    margin: 0 0.5em;
}

.whats-new {
    max-width: 1240px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.whats-new-heading {
    margin-bottom: 1em;
}

.whats-new,
.whats-new-section,
.long-section,
.news-block,
.long-section {
    display: flex;
}

.whats-new-section,
.long-section,
.short-section {
    border-radius: 20px;
}

section h2 {
    line-height: 1.3em !important;
}

.block {
    background: #000;
    color: #fff;
    min-height: 403px;
    display: flex;
    padding: 2em;
    flex-direction: column;
    justify-content: flex-end;
}

.whats-new-section {
    width: 100%;
}

.news-block {
    gap: 1.5em;
}

.news-block,
.whats-new-fullWidth {
    margin-bottom: 1.5em;
}

.long-section,
.short-section {
    flex-direction: column;
}

.long-section {
    width: 66.6%;
    flex-direction: column;
}

.short-section {
    width: 33.3%;
}

.first-block {
    background-image: url("../images/give-image-large-screen.jpg");
}

.second-block {
    background-image: url("../images/together-we-must-large.png");
}

.fourth-block {
    background-image: url("../images/celebrate-large.jfif");
}

.fifth-block {
    background-image: url("../images/custom-apparel-large.jfif");
}

.whats-new-fullWidth {
    background-image: url("../images/large-img.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.whats-new-fullWidth .full-width-inner-wrapper {
    min-height: 620px;
    width: 300px;
    min-width: 40%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.whats-new-fullWidth .huge-section-text {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2em;
    /* border: solid 1px red; */
}

section h2,
section h1,
section p {
    max-width: 350px;
    line-height: 1em;
}

/* ==================== */
/* highlighted product
/* ==================== */

.highlighted {
    background-image: url(../images/large_coke.png);
    background-repeat: no-repeat;
    background-position: 6.5em 0;
    background-size: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 782px;
    display: flex;
    justify-content: flex-end;
}

.highlighted-info {
    width: 37%;
    padding-right: 2em;
    margin-top: 8em;
}

.highlighted-info h1,
section h2,
.huge-section-text {
    font-weight: 600 !important;
    line-height: 1em;
    margin: 0.3em 0;
}

.highlighted-info p {
    line-height: 1em;
    font-weight: 300;
}

/* ======================================== */
/* media queries */
/* ======================================== */

@media (max-width: 820px) {
    .main-nav li:first-child {
        margin-top: -0.5em;
    }
}

@media (max-width: 768px) {
    header {
        position: relative;
    }

    .logo {
        text-align: center;
        width: 100%;
        order: 1;
        padding: 0;
        margin: 0;
    }

    .main-nav {
        background-color: #0000005a;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        padding-left: 2em;
        order: 0;
        display: none;
    }

    .main-nav::before {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        background: repeating-linear-gradient(
            to bottom,
            #000,
            #000 3px,
            transparent 3px,
            transparent 6px
        );
    }

    .main-nav-link {
        height: 0;
        margin: 0;
        padding: 0;
    }

    .main-nav li {
        border: solid 1px red;
        width: 100%;
        height: 5em;
    }

    .control-menu {
        width: 100%;
        order: 3;
    }

    .control-menu .material-icons {
        font-size: clamp(1rem, 5vw, 1.6rem);
    }

    .apps {
        display: none;
    }
}
